<p>text-box works!</p>

<button (click)="onClickDelete()" >delete</button>
<br>
<br>

<input [(ngModel)]="new_food_name">
<br>
<br>
<button (click)="onClickAdd()" >add</button>
<br>
<br>
<button (click)="onIndex()" >index</button> 
<button (click)="onShow()" >show</button>
<button (click)="onEdit()" >edit</button>
<button (click)="onNew()" >new</button>
<button (click)="onCreate()" >create</button>
<button (click)="onUpdate()" >update</button>
<button (click)="onDestroy()" >destroy</button>
<div>
    <ul>
        <li *ngFor="let item of food_item_list">
            {{ item.name }}
        </li>
    </ul>

</div>

<div style="border: 2px dashed black;" *ngFor="let item of food_item_list">
    {{ item.name }}
</div>
