<br>
<br>

<div style >
    <div style="border: 2px dashed black;">
    	<h3>Wish List</h3>
    	<input [(ngModel)]="wishListTextBox"(keyup.enter)="onClickwishListAdd()">
		<br>
		<br>

		<button (click)="onClickWishListAdd()" >add</button>
		<button (click)="onClickWishListDelete()" >delete</button>
    	<ul>
	        <li *ngFor="let item of wishListArray">
	            {{ item }}
	        </li>
	    </ul>
    </div>

    <div style="border: 2px dashed black;">
    	<h3>Pantry</h3>
    	<input [(ngModel)]="foodTextBox" (keyup.enter)="onClickAdd()">
		<br>
		<br>

		<button (click)="onClickAdd()" >add</button>
		<button (click)="onClickDelete()" >delete</button>
    	<ul>
	        <li *ngFor="let item of foodNameArray">
	            {{ item }}
	        </li>
	    </ul>
    </div>
    

</div>
